.skillGraph-wrapper{
    border-left: 3px solid gray;
    padding: 10px 0;
    margin: 0 100px;
}

.skillGraph{
    background-color: skyblue;
    padding: 15px 0;
}

.container p{
    margin-top: 10px;
}

.border{
    border: 1px solid gray;
    margin: 10px 50px;
    opacity: 0.3;
}