@media (min-width: 1200px) {
    .top p{
        top: 350px;
        right: 50px;
    }
}

@media (min-width: 1000px) {
    .br-1000{
        display: none;
    }

    .br-1000-rm-530{
        display: none;
    }
}

@media (min-width: 670px) {
    .br-670{
        display: none;
    }

    .br-670-rm-530{
        display: none;
    }
}

@media (min-width: 530px) {
    .br-530{
        display: none;
    }
}

@media (max-width: 1000px) {
    .work_title{
        font-size: 20px;
    }

    .top p{
        top: 270px;
        right: 40px;
        font-size: 40px;
    }

    header ul{
        right: 50px;
    }
}

@media (max-width: 800px) {
    .top p{
        top: 240px;
        right: 40px;
        font-size: 35px;
    }

    .sp-nav ul{
        z-index: 300;
        padding: 0;
    }

    .sp-nav li{
        line-height: 0;
    }

    .sp-nav li a{
        font-size: 30px;
        text-align: center;
        display: block;
        padding: 35px 0;
        cursor: pointer;
        color: #e0e0e0;
        opacity: 1;
    }

    .hamburger{
        display: block;
    }

    .header-1000{
        display: none;
    }

    .menu{
        margin: 5px 30%;
    }
}

@media (max-width: 670px) {
    footer{
        height: 320px;
    }

    .top p{
        top: 200px;
        right: 20px;
        font-size: 30px;
    }
}

@media (max-width: 530px) {
    .top p{
        top: 180px;
        right: 10px;
        font-size: 25px;
    }

    .menu{
        margin: 5px 20%;
    }

    .br-1000-rm-530{
        display: none;
    }

    .br-670-rm-530{
        display: none;
    }

    .card{
        width: 95%;
    }

    footer{
        height: 220px;
    }
    
    footer h1{
        padding: 10px 0;
        font-size: 80px;
        line-height: 100px;
    }
}

@media (max-width: 450px) {
    .top p{
        top: 160px;
        right: 0;
        font-size: 20px;
    }

    .left-card{
        width: 35%;
    }

    .right-card{
        width: 65%;
    }
}