*{
    margin: 0;
    padding: 0;
    list-style: none;
    color: black;
    font-size: 20px;
    font-family: "Comic Sans MS", HGP創英丸ﾎﾟｯﾌﾟ体;
}

header{
    background-color: rgba(217, 255, 240, 0.7);
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

header img{
    width: 80px;
    margin: 20px 50px;
}

.header p{
    font-size: 20px;
    float: left;
    margin-left: 20px;
    line-height: 80px;
    opacity: 0.8;
}

header ul{
    float: right;
    margin-right: 100px;
}

header li{
    font-size: 16px;
    float: left;
    margin-left: 30px;
    line-height: 80px;
    opacity: 0.8;
}

.container{
    text-align: center;
}

.head{
    height: 80px;
    background-color: rgb(217, 255, 240);
}

.top{
    text-align: left;
}

.top p{
    position: absolute;
    top: 330px;
    left: 770px;
    font-size: 50px;
    color: #e1e1e1;
    list-style: 100px;
    z-index: 10;
}

.top img{
    position: relative;
    width: 100%;
}

.title{
    font-size: 60px;
    font-weight: bold;
}

.description{
    margin-bottom: 10px;
}

.card{
    background-color: rgba(173, 187, 181, 0.1);
    width: 80%;
    line-height: 35px;
    padding-top: 15px;
    margin: auto;
}

.h-about{
    height: 152px;
}

.h-career{
    height: 117px;
}

.left-card{
    float: left;
    width: 50%;
}

.right-card{
    float: left;
    text-align: left;
    width: 50%;
}

a{
    text-decoration:none;
}

.contact form input, textarea{
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.contact form input:focus, textarea:focus{
    outline: none;
    border-bottom: 2px solid rgba(217, 255, 240);
}

.submit-btn{
    background-color: rgba(217, 255, 240, 0.8);
    border: none;
    border-radius: 5px;
    padding: 8px 25px;
    margin-top: 20px;
    font-size: 18px;
    color: black;
    cursor: pointer;
}

.sent_mail{
    font-size: 20px;
    background-color: rgba(217, 255, 240, 0.8);
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
}

.v-leave-active, .v-enter-active {
  transition: opacity 1s;
}

.v-enter, .v-leave-to {
  opacity: 0;
}

.erase{
    height: 0px;
    width: 0px;
}

.back{
    background-color: rgba(217, 255, 240, 0.4);
}

footer{
    background-color: rgba(217, 255, 240, 0.4);
    height: 200px;
}

footer h1{
    font-size: 100px;
    line-height: 200px;
    text-align: center;
}

.pb-50{
    padding-bottom: 50px;
}